<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Test Suite">
    <test name="Login">
        <classes>
            <class name="testclasses.AmazonLogin">
                <methods>
                    <include name="performLogin"/>
                    <include name="searchAndAddToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>