<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Suite">
    <test name="Test 1">
        <classes>
            <class name="testclasses.FirstTestClass">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test 2">
        <parameter name="browser" value="Edge"/>
        <parameter name="condition" value="true"/>
        <classes>
            <class name="testclasses.ParameterAnnotation">
                <methods>
                    <include name="testMethod1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>